<main class="contenedor">
    <form method="POST" class="default-form">
            <h1 style="text-align: center;margin-bottom:1rem">{{nombre}}</h1>

        <div class="campo">
            <label>Nuevo Password</label>
            <input type="password" name="password" placeholder="Nuevo Password" required>    
        </div>

    <div class="campo">
        <input type="submit" value="Guardar password" class="btn btn-azul">
    </div>
    </form>
</main>